In [ ]:
import numpy as np

In [ ]:
oneD = np.array([1,2,3])
twoD = np.array([[1,2,3],[4,5,6]])
threeD = np.array([[[1,2,3,4],[6,7,8,9]],[[4,5,6,7],[8,9,10,11]]])
fourD = np.array([[[[1,2,3,4],[6,7,8,9]],[[4,5,6,7],[8,9,10,11]]],[[[1,2,3,4],[6,7,8,9]],[[4,5,6,7],[8,9,10,11]]]])

In [ ]:
import pandas as pd

mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist2 = [["Apple", "Orange"], ["Sauce", "Ketchup", "Jam"], ["James","Jessie"]]

myDataFrame = pd.DataFrame(mylist2, columns = ["A","B","C"], index = ["a","b","c"])
print(myDataFrame)

In [ ]:
import numpy as np
import pandas as pd

array1 = np.array([["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr"], 
                  ["Zinedine Zidane", "Kevin De Bruyne", "Sergio Busquets"], 
                  ["Roberto Carlos", "Maldini", "Dani Alves"]])

playing9 = pd.DataFrame(array1, columns=["Left","Center","Right"], index=["Attack", "Midfield", "Defense"])

print(playing9)

In [ ]:
import pandas as pd

mydict = {"Football": ["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr."], "Tennis": ["Rafael Nadal", "Roger Federer", "Novak Djokovic"], "Basketball": ["Lebron James", "Kobe Bryant", "Michael Jordan"]}

myDataFrame = pd.DataFrame(mydict, index = [1,2,3])
print(myDataFrame)

In [ ]:
import pandas as pd

myDataFrame = pd.read_csv("sports.csv")
myDataFrame.index = [1,2]
print(myDataFrame)

In [ ]:
import pandas as pd

mydict = {"Football": ["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr."], "Tennis": ["Rafael Nadal", "Roger Federer", "Novak Djokovic"], "Basketball": ["Lebron James", "Kobe Bryant", "Michael Jordan"]}

myDataFrame = pd.DataFrame(mydict, index = [1,2,3])
myDataFrame = myDataFrame.set_index('Tennis') #either assign back to myDataFrame
print(myDataFrame)

In [34]:
import pandas as pd

myDataFrame = pd.read_csv("sports.csv")
myDataFrame.index = [1,2]
myDataFrame.set_index('Football', inplace=True) #or set inplace as true to reassign back
print(myDataFrame)

                     Basketball         Golf             Hockey
Football
Lionel Messi        Kobe Bryant  Rory Mclroy        Dhyan Chand
Cristiano Ronaldo  Lebron James  Tiger Woods  Harmanpreet Singh

In [37]:
myDataFrame.head(1)
myDataFrame.head()

                     Basketball         Golf             Hockey
Football
Lionel Messi        Kobe Bryant  Rory Mclroy        Dhyan Chand
Cristiano Ronaldo  Lebron James  Tiger Woods  Harmanpreet Singh

In [38]:
myDataFrame.tail(1)
myDataFrame.tail()

                     Basketball         Golf             Hockey
Football
Lionel Messi        Kobe Bryant  Rory Mclroy        Dhyan Chand
Cristiano Ronaldo  Lebron James  Tiger Woods  Harmanpreet Singh

In [39]:
myDataFrame.describe()

         Basketball         Golf       Hockey
count             2            2            2
unique            2            2            2
top     Kobe Bryant  Rory Mclroy  Dhyan Chand
freq              1            1            1