In [ ]:
import numpy as np

In [ ]:
oneD = np.array([1,2,3])
twoD = np.array([[1,2,3],[4,5,6]])
threeD = np.array([[[1,2,3,4],[6,7,8,9]],[[4,5,6,7],[8,9,10,11]]])
fourD = np.array([[[[1,2,3,4],[6,7,8,9]],[[4,5,6,7],[8,9,10,11]]],[[[1,2,3,4],[6,7,8,9]],[[4,5,6,7],[8,9,10,11]]]])

In [ ]:
import pandas as pd

mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist2 = [["Apple", "Orange"], ["Sauce", "Ketchup", "Jam"], ["James","Jessie"]]

myDataFrame = pd.DataFrame(mylist2, columns = ["A","B","C"], index = ["a","b","c"])
print(myDataFrame)

In [ ]:
import numpy as np
import pandas as pd

array1 = np.array([["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr"], 
                  ["Zinedine Zidane", "Kevin De Bruyne", "Sergio Busquets"], 
                  ["Roberto Carlos", "Maldini", "Dani Alves"]])

playing9 = pd.DataFrame(array1, columns=["Left","Center","Right"], index=["Attack", "Midfield", "Defense"])

print(playing9)

In [ ]:
import pandas as pd

mydict = {"Football": ["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr."], "Tennis": ["Rafael Nadal", "Roger Federer", "Novak Djokovic"], "Basketball": ["Lebron James", "Kobe Bryant", "Michael Jordan"]}

myDataFrame = pd.DataFrame(mydict, index = [1,2,3])
print(myDataFrame)

In [ ]:
import pandas as pd

myDataFrame = pd.read_csv("sports.csv")
myDataFrame.index = [1,2]
print(myDataFrame)

In [ ]:
import pandas as pd

mydict = {"Football": ["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr."], "Tennis": ["Rafael Nadal", "Roger Federer", "Novak Djokovic"], "Basketball": ["Lebron James", "Kobe Bryant", "Michael Jordan"]}

myDataFrame = pd.DataFrame(mydict, index = [1,2,3])
myDataFrame = myDataFrame.set_index('Tennis') #either assign back to myDataFrame
print(myDataFrame)

In [4]:
import pandas as pd

myDataFrame = pd.read_csv("sports.csv")
myDataFrame.index = [i for i in range(1,len(myDataFrame)+1)]
#myDataFrame.set_index('Football', inplace=True) #or set inplace as true to reassign back
print(myDataFrame)

                 Basketball             Football              Cricket  \
1               Kobe Bryant         Lionel Messi     Sachin Tendulkar
2              Lebron James    Cristiano Ronaldo         Rohit Sharma
3             Stephen Curry           Neymar Jr.          Virat Kohli
4              Kevin Durant          Luis Suarez       Adam Gilchrist
5              Devin Booker          Luis Felipe        Ricky Ponting
6         Tyrese Haliburton           Diogo Jota          Steve Waugh
7            Antony Edwards       Mohammed Salah           Mark Waugh
8              Jayson Tatum        Kylian Mbappe           Brian Lara
9            Damian Lillard           Harry Kane       Jacques Kallis
10             Kyrie Irving   Robert Lewandowski     Kumar Sangakkara
11             James Harden      Kevin De Bruyne             MS Dhoni
12             Nikola Jokic       Erling Haaland       AB de Villiers
13    Giannis Antetokounmpo        Karim Benzema          Chris Gayle
14              Joel Embiid          Luka Modric        Glenn McGrath
15            Kawhi Leonard           Toni Kroos            Brett Lee
16            Anthony Davis         Sergio Ramos          Shane Warne
17             Jimmy Butler      Vinicius Junior       Mitchell Starc
18         Donovan Mitchell      Jude Bellingham             Joe Root
19              Paul George    Antoine Griezmann      Kane Williamson
20        Russell Westbrook         Paulo Dybala           Babar Azam
21          Zion Williamson           Joao Felix      Quinton de Kock
22               Trae Young           Phil Foden         David Warner
23  Shai Gilgeous-Alexander  Oleksandr Zinchenko         Rishabh Pant
24             Jaylen Brown      Bruno Fernandes         Shubman Gill
25            Pascal Siakam                Rodri        Hardik Pandya
26          Scoot Henderson   Alejandro Garnacho     Yashasvi Jaiswal
27            Chet Holmgren          Jeremy Doku         Shreyas Iyer
28           Paolo Banchero      Marcus Rashford             KL Rahul
29          Cade Cunningham          Richarlison     Suryakumar Yadav
30            Jalen Brunson        Jack Grealish      Ravindra Jadeja
31                Ja Morant      Martin Odegaard      Shakib Al Hasan
32             Devin Booker         Riyad Mahrez         Jason Holder
33             Bradley Beal             Casemiro        Ambati Rayudu
34              CJ McCollum          Mason Mount      Kane Williamson
35              Zach LaVine   Gabriel Martinelli      Ruturaj Gaikwad
36              Buddy Hield         Jadon Sancho         Shreyas Iyer
37            Klay Thompson    Philippe Coutinho       Mayank Agarwal
38       Michael Porter Jr.           Neymar Jr.         Shubman Gill
39             De'Aaron Fox       Angel Di Maria     Yuzvendra Chahal
40          Malcolm Brogdon    Christian Pulisic         Prithvi Shaw
41          Dejounte Murray           Phil Foden    Cheteshwar Pujara
42            Fred VanVleet           Joao Felix        Vijay Shankar
43            Malik Beasley      Roberto Firmino    Washington Sundar
44               OG Anunoby         Hakim Ziyech        Krunal Pandya
45             Jrue Holiday       James Maddison  Ravichandran Ashwin
46            Jarrett Allen           Cody Gakpo   Varun Chakravarthy
47              Bam Adebayo    Christian Eriksen       Mohammed Siraj
48             John Collins         Moussa Diaby    Washington Sundar
49             Clint Capela  Alexis Mac Allister         Deepak Hooda
50             Jarvis Hayes     Giovani Lo Celso        Harshal Patel
51               Kevin Love       Cristian Tello          Shivam Dube
52           Gary Trent Jr.       Victor Osimhen       Mohammed Shami
53            Collin Sexton     Dejan Kulusevski    Bhuvneshwar Kumar
54           Darius Garland        Ander Herrera           Axar Patel
55              Buddy Hield          David Alaba         Pragyan Ojha
56              Jalen Green        Leon Goretzka       Jaydev Unadkat
57        Mitchell Robinson       Julian Alvarez        Kuldeep Yadav
58          Harrison Barnes          Mario Gotze         Shreyas Iyer
59            Norman Powell         Daniel James        Ricky Ponting
60          Frank Mason III    James Ward-Prowse          Steve Waugh

                 Kabaddi
1         Jaideep Dahiya
2             Ashu Malik
3       Sultan Atrachali
4   Showstopper Shadloui
5           Devank Dalal
6         Himanshu Singh
7          Arjun Deshwal
8        Fazel Atrachali
9         Pawan Sehrawat
10      Manjeet Chhillar
11           Ajay Thakur
12          Nitesh Kumar
13          Deepak Hooda
14        Sandeep Narwal
15       Rahul Chaudhari
16            Anup Kumar
17     Parvesh Bhainswal
18          Sunil Narwal
19   Dabang Naveen Kumar
20        Saurabh Nandal
21        Gurpreet Singh
22            Ajay Kumar
23        Mohit Chhillar
24       Vishal Bhardwaj
25            Amit Hooda
26         Surjeet Singh
27         Gajanan Barve
28            Ravi Kumar
29          Mukesh Kumar
30         Sachin Tanwar
31           Vishal Mane
32          Neeraj Kumar
33        Maninder Singh
34          Ashish Singh
35          Rajesh Singh
36            Anil Kumar
37           Sunil Kumar
38         Rajveer Singh
39         Praveen Kumar
40           Pavan Kumar
41          Mehtab Singh
42       Deepak Sehrawat
43            Amit Hooda
44           Sunil Kumar
45        Pardeep Narwal
46        Pawan Sehrawat
47        Sukhveer Singh
48         Gajanan Barve
49            Anup Kumar
50       Rahul Chaudhari
51      Manjeet Chhillar
52          Nitesh Kumar
53         Arjun Deshwal
54        Himanshu Singh
55          Bala Bajrang
56          Devank Dalal
57           Ajay Thakur
58        Sandeep Narwal
59       Fazel Atrachali
60         Saurabh Nanda

In [37]:
myDataFrame.head(1)
myDataFrame.head()

                     Basketball         Golf             Hockey
Football
Lionel Messi        Kobe Bryant  Rory Mclroy        Dhyan Chand
Cristiano Ronaldo  Lebron James  Tiger Woods  Harmanpreet Singh

In [38]:
myDataFrame.tail(1)
myDataFrame.tail()

                     Basketball         Golf             Hockey
Football
Lionel Messi        Kobe Bryant  Rory Mclroy        Dhyan Chand
Cristiano Ronaldo  Lebron James  Tiger Woods  Harmanpreet Singh

In [39]:
myDataFrame.describe()

         Basketball         Golf       Hockey
count             2            2            2
unique            2            2            2
top     Kobe Bryant  Rory Mclroy  Dhyan Chand
freq              1            1            1

In [42]:
myDataFrame[0:1]
myDataFrame[0:2]

                     Basketball         Golf             Hockey
Football
Lionel Messi        Kobe Bryant  Rory Mclroy        Dhyan Chand
Cristiano Ronaldo  Lebron James  Tiger Woods  Harmanpreet Singh

In [ ]:
myDataFrame[["Basketball", "Kabaddi"]]

                     Basketball         Golf
Football
Lionel Messi        Kobe Bryant  Rory Mclroy
Cristiano Ronaldo  Lebron James  Tiger Woods

In [9]:
myDataFrame.head()[[True,False,True,False,True]]

      Basketball      Football           Cricket           Kabaddi
1    Kobe Bryant  Lionel Messi  Sachin Tendulkar    Jaideep Dahiya
3  Stephen Curry    Neymar Jr.       Virat Kohli  Sultan Atrachali
5   Devin Booker   Luis Felipe     Ricky Ponting      Devank Dalal

In [14]:
myDataFrame[myDataFrame['Cricket']=="Ricky Ponting"]

       Basketball      Football        Cricket          Kabaddi
5    Devin Booker   Luis Felipe  Ricky Ponting     Devank Dalal
59  Norman Powell  Daniel James  Ricky Ponting  Fazel Atrachali

In [15]:
condition = (myDataFrame['Cricket']=="Ricky Ponting") & (myDataFrame['Basketball']=="Devin Booker")
myDataFrame[condition]

     Basketball     Football        Cricket       Kabaddi
5  Devin Booker  Luis Felipe  Ricky Ponting  Devank Dalal

In [16]:
myDataFrame[(myDataFrame['Cricket']=="Ricky Ponting") & (myDataFrame['Basketball']=="Devin Booker")]

     Basketball     Football        Cricket       Kabaddi
5  Devin Booker  Luis Felipe  Ricky Ponting  Devank Dalal