In [1]:
import numpy as np

In [2]:
oneD = np.array([1,2,3])
twoD = np.array([[1,2,3],[4,5,6]])
threeD = np.array([[[1,2,3,4],[6,7,8,9]],[[4,5,6,7],[8,9,10,11]]])
fourD = np.array([[[[1,2,3,4],[6,7,8,9]],[[4,5,6,7],[8,9,10,11]]],[[[1,2,3,4],[6,7,8,9]],[[4,5,6,7],[8,9,10,11]]]])

In [3]:
import pandas as pd

mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist2 = [["Apple", "Orange"], ["Sauce", "Ketchup", "Jam"], ["James","Jessie"]]

myDataFrame = pd.DataFrame(mylist2, columns = ["A","B","C"], index = ["a","b","c"])
print(myDataFrame)

       A        B     C
a  Apple   Orange  None
b  Sauce  Ketchup   Jam
c  James   Jessie  None

In [4]:
import numpy as np
import pandas as pd

array1 = np.array([["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr"], 
                  ["Zinedine Zidane", "Kevin De Bruyne", "Sergio Busquets"], 
                  ["Roberto Carlos", "Maldini", "Dani Alves"]])

playing9 = pd.DataFrame(array1, columns=["Left","Center","Right"], index=["Attack", "Midfield", "Defense"])

print(playing9)

                     Left             Center            Right
Attack       Lionel Messi  Cristiano Ronaldo        Neymar Jr
Midfield  Zinedine Zidane    Kevin De Bruyne  Sergio Busquets
Defense    Roberto Carlos            Maldini       Dani Alves

In [5]:
import pandas as pd

mydict = {"Football": ["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr."], "Tennis": ["Rafael Nadal", "Roger Federer", "Novak Djokovic"], "Basketball": ["Lebron James", "Kobe Bryant", "Michael Jordan"]}

myDataFrame = pd.DataFrame(mydict, index = [1,2,3])
print(myDataFrame)

            Football          Tennis      Basketball
1       Lionel Messi    Rafael Nadal    Lebron James
2  Cristiano Ronaldo   Roger Federer     Kobe Bryant
3         Neymar Jr.  Novak Djokovic  Michael Jordan

In [6]:
import pandas as pd

myDataFrame = pd.read_csv("sports.csv")
myDataFrame.index = [1,2]
print(myDataFrame)

ValueError: Length mismatch: Expected axis has 60 elements, new values have 2 elements

In [7]:
import pandas as pd

mydict = {"Football": ["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr."], "Tennis": ["Rafael Nadal", "Roger Federer", "Novak Djokovic"], "Basketball": ["Lebron James", "Kobe Bryant", "Michael Jordan"]}

myDataFrame = pd.DataFrame(mydict, index = [1,2,3])
myDataFrame = myDataFrame.set_index('Tennis') #either assign back to myDataFrame
print(myDataFrame)

                         Football      Basketball
Tennis
Rafael Nadal         Lionel Messi    Lebron James
Roger Federer   Cristiano Ronaldo     Kobe Bryant
Novak Djokovic         Neymar Jr.  Michael Jordan

In [4]:
import pandas as pd

myDataFrame = pd.read_csv("sports.csv")
myDataFrame.index = [i for i in range(1,len(myDataFrame)+1)]
#myDataFrame.set_index('Football', inplace=True) #or set inplace as true to reassign back
print(myDataFrame)

                 Basketball             Football              Cricket  \
1               Kobe Bryant         Lionel Messi     Sachin Tendulkar
2              Lebron James    Cristiano Ronaldo         Rohit Sharma
3             Stephen Curry           Neymar Jr.          Virat Kohli
4              Kevin Durant          Luis Suarez       Adam Gilchrist
5              Devin Booker          Luis Felipe        Ricky Ponting
6         Tyrese Haliburton           Diogo Jota          Steve Waugh
7            Antony Edwards       Mohammed Salah           Mark Waugh
8              Jayson Tatum        Kylian Mbappe           Brian Lara
9            Damian Lillard           Harry Kane       Jacques Kallis
10             Kyrie Irving   Robert Lewandowski     Kumar Sangakkara
11             James Harden      Kevin De Bruyne             MS Dhoni
12             Nikola Jokic       Erling Haaland       AB de Villiers
13    Giannis Antetokounmpo        Karim Benzema          Chris Gayle
14              Joel Embiid          Luka Modric        Glenn McGrath
15            Kawhi Leonard           Toni Kroos            Brett Lee
16            Anthony Davis         Sergio Ramos          Shane Warne
17             Jimmy Butler      Vinicius Junior       Mitchell Starc
18         Donovan Mitchell      Jude Bellingham             Joe Root
19              Paul George    Antoine Griezmann      Kane Williamson
20        Russell Westbrook         Paulo Dybala           Babar Azam
21          Zion Williamson           Joao Felix      Quinton de Kock
22               Trae Young           Phil Foden         David Warner
23  Shai Gilgeous-Alexander  Oleksandr Zinchenko         Rishabh Pant
24             Jaylen Brown      Bruno Fernandes         Shubman Gill
25            Pascal Siakam                Rodri        Hardik Pandya
26          Scoot Henderson   Alejandro Garnacho     Yashasvi Jaiswal
27            Chet Holmgren          Jeremy Doku         Shreyas Iyer
28           Paolo Banchero      Marcus Rashford             KL Rahul
29          Cade Cunningham          Richarlison     Suryakumar Yadav
30            Jalen Brunson        Jack Grealish      Ravindra Jadeja
31                Ja Morant      Martin Odegaard      Shakib Al Hasan
32             Devin Booker         Riyad Mahrez         Jason Holder
33             Bradley Beal             Casemiro        Ambati Rayudu
34              CJ McCollum          Mason Mount      Kane Williamson
35              Zach LaVine   Gabriel Martinelli      Ruturaj Gaikwad
36              Buddy Hield         Jadon Sancho         Shreyas Iyer
37            Klay Thompson    Philippe Coutinho       Mayank Agarwal
38       Michael Porter Jr.           Neymar Jr.         Shubman Gill
39             De'Aaron Fox       Angel Di Maria     Yuzvendra Chahal
40          Malcolm Brogdon    Christian Pulisic         Prithvi Shaw
41          Dejounte Murray           Phil Foden    Cheteshwar Pujara
42            Fred VanVleet           Joao Felix        Vijay Shankar
43            Malik Beasley      Roberto Firmino    Washington Sundar
44               OG Anunoby         Hakim Ziyech        Krunal Pandya
45             Jrue Holiday       James Maddison  Ravichandran Ashwin
46            Jarrett Allen           Cody Gakpo   Varun Chakravarthy
47              Bam Adebayo    Christian Eriksen       Mohammed Siraj
48             John Collins         Moussa Diaby    Washington Sundar
49             Clint Capela  Alexis Mac Allister         Deepak Hooda
50             Jarvis Hayes     Giovani Lo Celso        Harshal Patel
51               Kevin Love       Cristian Tello          Shivam Dube
52           Gary Trent Jr.       Victor Osimhen       Mohammed Shami
53            Collin Sexton     Dejan Kulusevski    Bhuvneshwar Kumar
54           Darius Garland        Ander Herrera           Axar Patel
55              Buddy Hield          David Alaba         Pragyan Ojha
56              Jalen Green        Leon Goretzka       Jaydev Unadkat
57        Mitchell Robinson       Julian Alvarez        Kuldeep Yadav
58          Harrison Barnes          Mario Gotze         Shreyas Iyer
59            Norman Powell         Daniel James        Ricky Ponting
60          Frank Mason III    James Ward-Prowse          Steve Waugh

                 Kabaddi
1         Jaideep Dahiya
2             Ashu Malik
3       Sultan Atrachali
4   Showstopper Shadloui
5           Devank Dalal
6         Himanshu Singh
7          Arjun Deshwal
8        Fazel Atrachali
9         Pawan Sehrawat
10      Manjeet Chhillar
11           Ajay Thakur
12          Nitesh Kumar
13          Deepak Hooda
14        Sandeep Narwal
15       Rahul Chaudhari
16            Anup Kumar
17     Parvesh Bhainswal
18          Sunil Narwal
19   Dabang Naveen Kumar
20        Saurabh Nandal
21        Gurpreet Singh
22            Ajay Kumar
23        Mohit Chhillar
24       Vishal Bhardwaj
25            Amit Hooda
26         Surjeet Singh
27         Gajanan Barve
28            Ravi Kumar
29          Mukesh Kumar
30         Sachin Tanwar
31           Vishal Mane
32          Neeraj Kumar
33        Maninder Singh
34          Ashish Singh
35          Rajesh Singh
36            Anil Kumar
37           Sunil Kumar
38         Rajveer Singh
39         Praveen Kumar
40           Pavan Kumar
41          Mehtab Singh
42       Deepak Sehrawat
43            Amit Hooda
44           Sunil Kumar
45        Pardeep Narwal
46        Pawan Sehrawat
47        Sukhveer Singh
48         Gajanan Barve
49            Anup Kumar
50       Rahul Chaudhari
51      Manjeet Chhillar
52          Nitesh Kumar
53         Arjun Deshwal
54        Himanshu Singh
55          Bala Bajrang
56          Devank Dalal
57           Ajay Thakur
58        Sandeep Narwal
59       Fazel Atrachali
60         Saurabh Nanda

In [8]:
myDataFrame.head(1)
myDataFrame.head()

                         Football      Basketball
Tennis
Rafael Nadal         Lionel Messi    Lebron James
Roger Federer   Cristiano Ronaldo     Kobe Bryant
Novak Djokovic         Neymar Jr.  Michael Jordan

In [9]:
myDataFrame.tail(1)
myDataFrame.tail()

                         Football      Basketball
Tennis
Rafael Nadal         Lionel Messi    Lebron James
Roger Federer   Cristiano Ronaldo     Kobe Bryant
Novak Djokovic         Neymar Jr.  Michael Jordan

In [10]:
myDataFrame.describe()

            Football    Basketball
count              3             3
unique             3             3
top     Lionel Messi  Lebron James
freq               1             1

In [11]:
myDataFrame[0:1]
myDataFrame[0:2]

                        Football    Basketball
Tennis
Rafael Nadal        Lionel Messi  Lebron James
Roger Federer  Cristiano Ronaldo   Kobe Bryant

In [12]:
myDataFrame[["Basketball", "Kabaddi"]]

KeyError: "['Kabaddi'] not in index"

In [13]:
myDataFrame.head()[[True,False,True,False,True]]

ValueError: Item wrong length 5 instead of 3.

In [14]:
myDataFrame[myDataFrame['Cricket']=="Ricky Ponting"]

KeyError: 'Cricket'

In [15]:
condition = (myDataFrame['Cricket']=="Ricky Ponting") & (myDataFrame['Basketball']=="Devin Booker")
myDataFrame[condition]

KeyError: 'Cricket'

In [16]:
myDataFrame[(myDataFrame['Cricket']=="Ricky Ponting") & (myDataFrame['Basketball']=="Devin Booker")]

KeyError: 'Cricket'

In [17]:
myDataFrame.loc[8]

KeyError: 8

In [18]:
myDataFrame.loc[8, "Kabaddi"]

KeyError: 'Kabaddi'

In [24]:
myDataFrame.loc[[1,3,5,7,9],["Football","Kabaddi"]]

         Football           Kabaddi
1    Lionel Messi    Jaideep Dahiya
3      Neymar Jr.  Sultan Atrachali
5     Luis Felipe      Devank Dalal
7  Mohammed Salah     Arjun Deshwal
9      Harry Kane    Pawan Sehrawat

In [25]:
myDataFrame.loc[12:15, 'Football':'Cricket']

          Football         Cricket
12  Erling Haaland  AB de Villiers
13   Karim Benzema     Chris Gayle
14     Luka Modric   Glenn McGrath
15      Toni Kroos       Brett Lee

In [26]:
myDataFrame.loc[[12,15], 'Football':'Cricket']

          Football         Cricket
12  Erling Haaland  AB de Villiers
15      Toni Kroos       Brett Lee

In [ ]:
myDataFrame.iloc[17,2]
myDataFrame.iloc[26,1]
myDataFrame.iloc[19,0]
myDataFrame.iloc[34,3]
myDataFrame.iloc[45,2]

'Varun Chakravarthy'

In [32]:
myDataFrame.iloc[[17],[2]]
myDataFrame.iloc[[26],[1]]
myDataFrame.iloc[[19],[0]]
myDataFrame.iloc[[34],[3]]
myDataFrame.iloc[[45],[2]]

               Cricket
46  Varun Chakravarthy

In [34]:
myDataFrame.iloc[0:8,0:2]

          Basketball           Football
1        Kobe Bryant       Lionel Messi
2       Lebron James  Cristiano Ronaldo
3      Stephen Curry         Neymar Jr.
4       Kevin Durant        Luis Suarez
5       Devin Booker        Luis Felipe
6  Tyrese Haliburton         Diogo Jota
7     Antony Edwards     Mohammed Salah
8       Jayson Tatum      Kylian Mbappe

In [43]:
myDataFrame.loc[0:8, "Basketball"]

1          Kobe Bryant
2         Lebron James
3        Stephen Curry
4         Kevin Durant
5         Devin Booker
6    Tyrese Haliburton
7       Antony Edwards
8         Jayson Tatum
Name: Basketball, dtype: object

In [56]:
myDataFrame.loc[8]=["Aaron Gordon","Anthony Gordon","Stephen Fleming","Rahul Choudary"]
myDataFrame.loc[12]=["Zach Lavine","Marc Guehi","Rilee Roussouw","Ajay Thakur"]
myDataFrame.loc[15]=["Isaiah Thomas","Bukayo Saka","Shardul Thakur","Bharat Hooda"]
myDataFrame.head(10)

,Basketball,Football,Cricket,Kabaddi
1,Kobe Bryant,Lionel Messi,Sachin Tendulkar,Jaideep Dahiya
2,Lebron James,Cristiano Ronaldo,Rohit Sharma,Ashu Malik
3,Stephen Curry,Neymar Jr.,Virat Kohli,Sultan Atrachali
4,Kevin Durant,Luis Suarez,Adam Gilchrist,Showstopper Shadloui
5,Devin Booker,Luis Felipe,Ricky Ponting,Devank Dalal
6,Tyrese Haliburton,Diogo Jota,Steve Waugh,Himanshu Singh
7,Antony Edwards,Mohammed Salah,Mark Waugh,Arjun Deshwal
9,Damian Lillard,Harry Kane,Jacques Kallis,Pawan Sehrawat
10,Kyrie Irving,Robert Lewandowski,Kumar Sangakkara,Manjeet Chhillar
11,James Harden,Kevin De Bruyne,MS Dhoni,Ajay Thakur

In [53]:
myDataFrame.drop(8, axis=0, inplace=True)
myDataFrame.drop([12,15], axis=0, inplace=True)

In [78]:
df = myDataFrame.iloc[0:5,0:2]
df['Chess'] = ["Magnus Carlsen","Hikaru Nakamura","D Gukesh","Vishy Anand","Garry Kasparov"]
df

      Basketball           Football            Chess
1    Kobe Bryant       Lionel Messi   Magnus Carlsen
2   Lebron James  Cristiano Ronaldo  Hikaru Nakamura
3  Stephen Curry         Neymar Jr.         D Gukesh
4   Kevin Durant        Luis Suarez      Vishy Anand
5   Devin Booker        Luis Felipe   Garry Kasparov

In [61]:
df.drop("Chess",axis=1)

      Basketball           Football
1    Kobe Bryant       Lionel Messi
2   Lebron James  Cristiano Ronaldo
3  Stephen Curry         Neymar Jr.
4   Kevin Durant        Luis Suarez
5   Devin Booker        Luis Felipe

In [79]:
df.sort_values("Chess")

      Basketball           Football            Chess
3  Stephen Curry         Neymar Jr.         D Gukesh
5   Devin Booker        Luis Felipe   Garry Kasparov
2   Lebron James  Cristiano Ronaldo  Hikaru Nakamura
1    Kobe Bryant       Lionel Messi   Magnus Carlsen
4   Kevin Durant        Luis Suarez      Vishy Anand

In [80]:
df.set_index("Chess")
df.to_csv("subsports.csv")

In [83]:
df1 = myDataFrame.head(5)
df2 = myDataFrame.tail(5)

In [ ]:
pd.concat([df1,df2],axis=0)

         Basketball           Football           Cricket               Kabaddi
1       Kobe Bryant       Lionel Messi  Sachin Tendulkar        Jaideep Dahiya
2      Lebron James  Cristiano Ronaldo      Rohit Sharma            Ashu Malik
3     Stephen Curry         Neymar Jr.       Virat Kohli      Sultan Atrachali
4      Kevin Durant        Luis Suarez    Adam Gilchrist  Showstopper Shadloui
5      Devin Booker        Luis Felipe     Ricky Ponting          Devank Dalal
59    Norman Powell       Daniel James     Ricky Ponting       Fazel Atrachali
60  Frank Mason III  James Ward-Prowse       Steve Waugh         Saurabh Nanda
8      Aaron Gordon     Anthony Gordon   Stephen Fleming        Rahul Choudary
12      Zach Lavine         Marc Guehi    Rilee Roussouw           Ajay Thakur
15    Isaiah Thomas        Bukayo Saka    Shardul Thakur          Bharat Hooda

In [87]:
pd.concat([df1,df2],axis=1)

,Basketball,Football,Cricket,Kabaddi,Basketball,Football,Cricket,Kabaddi
1,Kobe Bryant,Lionel Messi,Sachin Tendulkar,Jaideep Dahiya,NaN,NaN,NaN,NaN
2,Lebron James,Cristiano Ronaldo,Rohit Sharma,Ashu Malik,NaN,NaN,NaN,NaN
3,Stephen Curry,Neymar Jr.,Virat Kohli,Sultan Atrachali,NaN,NaN,NaN,NaN
4,Kevin Durant,Luis Suarez,Adam Gilchrist,Showstopper Shadloui,NaN,NaN,NaN,NaN
5,Devin Booker,Luis Felipe,Ricky Ponting,Devank Dalal,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,Norman Powell,Daniel James,Ricky Ponting,Fazel Atrachali
60,NaN,NaN,NaN,NaN,Frank Mason III,James Ward-Prowse,Steve Waugh,Saurabh Nanda
8,NaN,NaN,NaN,NaN,Aaron Gordon,Anthony Gordon,Stephen Fleming,Rahul Choudary
12,NaN,NaN,NaN,NaN,Zach Lavine,Marc Guehi,Rilee Roussouw,Ajay Thakur
15,NaN,NaN,NaN,NaN,Isaiah Thomas,Bukayo Saka,Shardul Thakur,Bharat Hooda

In [90]:
df2.reset_index(drop=True, inplace=True)

In [91]:
pd.concat([df1,df2],axis=0)

        Basketball           Football           Cricket               Kabaddi
1      Kobe Bryant       Lionel Messi  Sachin Tendulkar        Jaideep Dahiya
2     Lebron James  Cristiano Ronaldo      Rohit Sharma            Ashu Malik
3    Stephen Curry         Neymar Jr.       Virat Kohli      Sultan Atrachali
4     Kevin Durant        Luis Suarez    Adam Gilchrist  Showstopper Shadloui
5     Devin Booker        Luis Felipe     Ricky Ponting          Devank Dalal
0    Norman Powell       Daniel James     Ricky Ponting       Fazel Atrachali
1  Frank Mason III  James Ward-Prowse       Steve Waugh         Saurabh Nanda
2     Aaron Gordon     Anthony Gordon   Stephen Fleming        Rahul Choudary
3      Zach Lavine         Marc Guehi    Rilee Roussouw           Ajay Thakur
4    Isaiah Thomas        Bukayo Saka    Shardul Thakur          Bharat Hooda

In [92]:
pd.concat([df1,df2],axis=1)

,Basketball,Football,Cricket,Kabaddi,Basketball,Football,Cricket,Kabaddi
1,Kobe Bryant,Lionel Messi,Sachin Tendulkar,Jaideep Dahiya,Frank Mason III,James Ward-Prowse,Steve Waugh,Saurabh Nanda
2,Lebron James,Cristiano Ronaldo,Rohit Sharma,Ashu Malik,Aaron Gordon,Anthony Gordon,Stephen Fleming,Rahul Choudary
3,Stephen Curry,Neymar Jr.,Virat Kohli,Sultan Atrachali,Zach Lavine,Marc Guehi,Rilee Roussouw,Ajay Thakur
4,Kevin Durant,Luis Suarez,Adam Gilchrist,Showstopper Shadloui,Isaiah Thomas,Bukayo Saka,Shardul Thakur,Bharat Hooda
5,Devin Booker,Luis Felipe,Ricky Ponting,Devank Dalal,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,Norman Powell,Daniel James,Ricky Ponting,Fazel Atrachali

In [96]:
dict3 = {"Gender":["Female","Male","Female","Male"], "Score":[94,97,96,90]}
df3 = pd.DataFrame(dict3,index=[1,2,3,4])
df3

   Gender  Score
1  Female     94
2    Male     97
3  Female     96
4    Male     90

In [97]:
df3.groupby(df3['Gender']).mean()

        Score
Gender
Female   95.0
Male     93.5